    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>XD</title>
	

	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/css/navbar.css">
	<link rel="stylesheet" href="__PUBLIC__/css/liang.css">
	
	
	<!-- jQuery -->
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/jquery.form.js"></script>
	<!-- Bootstrap JavaScript -->
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap-tooltip.js"></script>
	<script src="__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>

	
	
