<extend name="Base/common"/>
<block name="content">
<include file="./Base/model"/>
<div style="width:60%;margin-left:10%">

<label class="mylabel"><h4><ul><li>我本次申请的办公用品, <a href="__MODULE__/Need/index">查看更多的办公用品申请？</a></li></ul></h4></label>
</br>
</br>
<form id="form" class="form-horizontal" style="width:80%;float:left" action="__MODULE__/Need/apply" autocomplete="on" method="post">
<label class="liang_label">办公用品名称</label>
<select name="PID" class="liang_label liang_input">
	<volist name="typelist" id="votypelist">
		<option value="{$votypelist.pid}" title="{$votypelist.brand}{$votypelist.model} && {$votypelist.price}元/{$votypelist.unit}">{$votypelist.cabilityname}</option>
	</volist>
</select>
<input class="liang_label liang_input" name="Count" placeholder="申请数量" required autofocus>
<button type="submit" class="liang_button">提交</button>
</form>

<table class="liang_table">
	<tr>
		<th style="width:12%">品名</th>
		<th style="width:12%">品牌</th>
		<th style="width:15%">型号</th>
							
		<th style="width:12%">价格</th>
		<th style="width:12%">单位</th>
		<th style="width:10%">申请数量</th>
		<th style="width:10%">操作</th>
	</tr>
	
	<volist name="needlist" id="voneedlist">
		<tr>
			<td>{$voneedlist.cabilityname}</td>
			<td>{$voneedlist.brand}</td>
			<td>{$voneedlist.model}</td>
			<td>{$voneedlist.price}</td>
			<td>{$voneedlist.unit}</td>
			<td>{$voneedlist.count}</td>
			<td><button class="liang_button" onclick="ActionData('{$voneedlist.number}')">取消</button></td>
		</tr>
	</volist>
</table>	

</div>

<script>
function ActionData(tempA)
{
$.post('__MODULE__/Need/cancel',
{'number':tempA},
function refresh(data){
if(data.status){alert(data.info);}
location.reload();
},
'json');
}
</script>
</block>

