<extend name="Base/common"/>
<block name="content">
      <div class="row">
	  
		<div class="col-md-8" id="col_liang">
          <h3>::自动化::</h3>
          <div class="row" id="row_liang">
            <div class="col-md-6"><a class="liang_LinkA" href="http://172.16.83.253/Auto/" target="_blank"><h4>XD自动化</h4></a><h6>XD自动化环境配置</h6></div>
            <div class="col-md-7"><h4>自动化测试</h4><h6>自动化测试</h6></div>
			<div class="col-md-6"><h4>自动化小工具</h4><h6>自动化小工具</h6></div>
			<div class="col-md-7"><h4>加入我们</h4><h6>加入我们</h6></div>
          </div>
        </div>
	  
	  
        <div class="col-md-8" id="col_liang">
          <h3>::设备与资产::</h3>
          <div class="row" id="row_liang">
            <div class="col-md-6"><a class="liang_LinkA" href="__MODULE__/Borrow/index"><h4>常用设备</h4></a><h6>耳机，U盘，摄像头...</h6></div>
            <div class="col-md-7"><h4>资产信息</h4><h6>主机，显示器</h6></div>
			<div class="col-md-6"><a class="liang_LinkA" href="__MODULE__/Need/index"><h4>办公用品</h4></a><h6>笔，本子，便利贴...</h6></div>
			<div class="col-md-7"><a class="liang_LinkA" href="__MODULE__/Mborrow/index"><h4>移动设备</h4></a><h6>手机，平板，盒子...</h6></div>
			<div class="col-md-6"><h4>静态IP</h4><h6>80/130网段IP申请</h6></div>
          </div>
        </div>
        <div class="col-md-8" id="col_liang">
          <h3>::测试相关::</h3>
          <div class="row" id="row_liang">
            <div class="col-md-6"><a class="liang_LinkA" href="http://172.16.83.246/sites/docs" target="_blank"><h4>文档服务器</h4></a><h6>Sharepoint</h6></div>
            <div class="col-md-7"><a class="liang_LinkA" href="http://172.16.80.208/mms/" target="_blank"><h4>在线视频</h4></a><h6>Flash，avi 在线视频</h6></div>
			<div class="col-md-6"><a class="liang_LinkA" href="http://203.86.78.71/mantis/login_page.php" target="_blank"><h4>Mantis</h4></a><h6></br></h6></div>
			<div class="col-md-7"><a class="liang_LinkA" href="http://172.16.83.246/sites/Search" target="_blank"><h4>文档搜索</h4></a><h6>在Sharepoint上搜索文件</h6></div>
          </div>
        </div>
      </div>
	  
	    <div class="row">
        <div class="col-md-8" id="col_liang">
          <h3>::新人必备::</h3>
          <div class="row" id="row_liang">
            <div class="col-md-6"><h4>公司园区</h4><h6>了解公司和园区</h6></div>
            <div class="col-md-7"><h4>新人须知</h4><h6>了解项目组</h6></div>
			<div class="col-md-6"><h4>公共服务器</h4><h6>各类文件服务器</h6></div>
			<div class="col-md-7"><h4>常见缩写</h4><h6>公司常见英文缩写</h6></div>
			<div class="col-md-6"><h4>培训</h4><h6>各类培训视频</h6></div>
          </div>
        </div>
        <div class="col-md-8" id="col_liang">
          <h3>::项目组相关::</h3>
          <div class="row" id="row_liang">
            <div class="col-md-6"><h4>座位表</h4><h6></br></h6></div>
            <div class="col-md-7"><h4>查询某人</h4><h6>xxx</h6></div>
			<div class="col-md-6"><h4>查询项目</h4><h6></br></h6></div>
          </div>
        </div>
      </div>
</block>