<extend name="Base/common"/>
<block name="content">
<include file="./Base/model"/>
<a href="#top" id="toTop"></a>
<div class="liang_list">
<table class="liang_table">
	<tr>
		<th style="width:5%">序号</th>
		<th style="width:12%">设备类型</th>
		<th style="width:15%">编号</th>
		<th style="width:38%">参数</th>
							
		<th style="width:9%">借用人</th>
		<th style="width:9%">借用日期</th>
		<th style="width:12%">操作</th>
	</tr>
	<volist name="approlist" id="voapprolist">
		<if condition="$voapprolist.approved eq 1">
			<tr>
		<else />
			<tr style="background-color:#FFEFD5;">
		</if>
		
			<td>{$i}</td>
			<td>{$voapprolist.type}</td>
			<td>{$voapprolist.id}</td>
			<td>{$voapprolist.parameter}</td>

			<if condition="$voapprolist.approved eq 1">
				<td>{$voapprolist.cname}</td>
				<td>{$voapprolist.borrowdate}</td>
				<td><button class="liang_button" onclick="ActionData('{$voapprolist.number}','BrApproved')">借出</button>
					<button class="liang_button" onclick="ActionData('{$voapprolist.number}','CBrow')">拒绝</button></td>
			<elseif condition="$voapprolist.approved eq 3"/>
				<td>{$voapprolist.cname}</td>
				<td>{$voapprolist.borrowdate}</td>
				<td><button class="liang_button" onclick="ActionData('{$voapprolist.number}','ReApproved')">归还</button>
					<button class="liang_button" onclick="ActionData('{$voapprolist.number}','CRetn')">未还</button></td>
			</if>
			
		</tr>
	</volist>
</table>	
</div>
<script src="__PUBLIC__/js/jquery.scrollToTop.min.js"></script>
<script src="__PUBLIC__/js/liang_cookie.js"></script>
<script src="__PUBLIC__/js/liang_borrow.js"></script>
</block>

